body {
    background-color: #A8DADC;
    font-family: "Nunito", sans-serif;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #457B9D;
}

#mainNavbar .navbar-brand {
    color: #457B9D;
    font-size: 1.5rem;
}

#headingGroup span {
    color: #457B9D;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
}